/* carousel container */
.carousel {
    max-width: 1000px;
    position: relative;
    margin: 0 0 10px;
  }

.carousel__items {display: none}
.carousel__items--img{
    vertical-align: middle;
    width: 100%;
}

/* carousel next & carousel previous buttons */
.carousel__prev, .carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "carousel__next button" to the right */
.carousel__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.carousel__prev:hover, .carousel__next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */

.carousel__dots {
    text-align:center;
}

.carousel__dots--dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .carousel__dots--dot:hover {
  background-color: #717171;
}

/* Fading animation */
.carousel__items--fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes carousel__items--fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes carousel__items--fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .carousel__prev, .carousel__next,.text {font-size: 11px}
}