*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Verdana, sans-serif;
}

.divider {
    margin: 20px 0;
    display: flex;
    background: radial-gradient(at 50% 0, rgb(138, 136, 136), transparent 50%);
    background-size: 100% 8px;
    background-repeat: no-repeat;
}